/* this means it is targeting everithing */
 * {
     /* box sizeing is a lot like the cammand display: relativ; where it tells the code what this is */
    box-sizing: border-box;
    /* padding:0; is the code saying that as long as it doesin't have a padding of it's own it is set to 0*/
    padding: 0;
    /* margin:0; is the code saying that as long as it doesin't have a margin of it's own it is set to 0*/
    margin: 0;
    /* I set display: inline; so that everithing did'nt just seperate (inless it has a display of it's own)*/
    display: inline; 
 }
/* this means it is targeting the entire body wich is most of the code */
body {
    /* this sets the backgrond color */
    background-color: #d9dcd6;
}
/* the . means it is targeting a class the name specifys wich class your targeting. note:( a class can be used on mmultiple things but an id # only targets one thing */
 .header {
     /* this is done so that the header makes a solid bar instead of an h1 tag and an list outside of the header */
     display: block;
     /* this is used to make the header look bigger */
    padding: 20px;
    /* this command is used to change the font */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* this cammand is usful to show where the heder is and makes a nice contrast of color */
    background-color: #000000;
    /* this command is used to change the color of the text so it has a nice contrast to the background color  */
    color: #ffffff;
    
}



/* .header shows wicth class your targeting  .header h1 means that in the html file in the .header class this will aplly to all h1 tags */
.header h1 {
    /* this caomannd is used so that it is inline but takes up as much space as it can */
    display: inline-block;
    /* this command is used to say that the size of the text s equal to the value */
    font-size: 48px;
}


/* .header shows wicth class your targeting  .header div means that in the html file in the .header class this will aplly to all div sections */
.header div {
    /* this sets the pading only on the  top  */
    padding-top: 15px;
    /* this command is used to push other object away from it */
    margin-right: 20px;
    /* this combined with inline-block is used to send it as much as it can to the right */
    float: right;
    /* this command is used to change the font */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* this command is used to say that the size of the text s equal to the value */
    font-size: 20px;
}
/* .header shows wicth class your targeting  .header div means that in the html file in the .header class this will aplly to all uls in div sections */
.header div ul {
    /* this is used to change how the dots look */
    list-style-type: none;
    /* this combined with inline-block is used to send it as much as it can to the right */
    float: right;
}
/* .header shows wicth class your targeting  .header div means that in the html file in the .header class this will aplly to all lis in uls in div sections */
.header div ul li {
    /* this caomannd is used so that it is inline but takes up as much space as it can */
    display: inline-block;
    /* this command is used to push other object away from it */
    margin-left: 25px;
    
}

.aboutme h1{

    margin-right: 5%;
    font-size: 48px;
    /* padding-right: 4%;
    border-right-width: 3px;
    border-right-color: rgb(25, 0, 255);
    border-right-style: solid;
    padding-top: 90px;
    padding-bottom: 90px; */
    float: left;
}

.aboutme p{
}

a {
    color: #5eb6c5;
}
section div h1{
    color: rgb(25, 0, 255);
    font-size: large;
}

section div p{
    color: rgb(25, 0, 255);
}
 
